In [ ]:
'''Sequence is the basic data structure in python
len , count, access iti elements through index

string is one of the sequence
# list is the most datastructure in python
list --> data structure --> non-primitive data structure 00> list can hold different values , with different datatype
'''

In [1]:
'1- to define a list'
l = []
myl = list([])
print(type(l))
print(type(myl))

<class 'list'>
<class 'list'>

In [5]:
import array
arr = array.array("i", [4,4,5])
print(arr)

array('i', [4, 4, 5])

In [23]:
'2- list can hold different values with different datatypes even another list'
courses = ["python", "postgres", "java"]
myl = ["Ahmed", "Python", 42, False, courses]
print(myl)

['Ahmed', 'Python', 42, False, ['python', 'postgres', 'java']]

In [24]:
'3 - list items can be accessed through index (note index start from 0)'
print(myl[4])

['python', 'postgres', 'java']

In [25]:
'3 - get length of the list'
print(len(myl))

5

In [26]:
'4- list is mutable datatype --> can be updated in the run time '
myl[1]= "iti"
print(myl)

['Ahmed', 'iti', 42, False, ['python', 'postgres', 'java']]

In [27]:
print(myl[4][1])

postgres

In [20]:
# myl[5]= "new item added"  # not valid

In [28]:
'5-append --> at the end of the list'
myl.append("new item added")
print(myl)

['Ahmed', 'iti', 42, False, ['python', 'postgres', 'java'], 'new item added']

In [30]:
'6-insert at certain position'
myl.insert(2,"new item inserted")
print()

['Ahmed', 'iti', 'new item inserted', 42, False, ['python', 'postgres', 'java'], 'new item added']

In [1]:
myl.insert(100,"tessst")
print(myl)

NameError: name 'myl' is not defined

In [33]:
'7- pop()  --> remove the last item '
myl.pop()

NameError: name 'my' is not defined

In [34]:
print(myl)

['Ahmed', 'iti', 'new item inserted', 42, False, ['python', 'postgres', 'java'], 'new item added', 'new item inserted']

In [35]:
'8-remove item at certain index'
item =myl.pop(6)
print(item)
print(myl)

new item added
['Ahmed', 'iti', 'new item inserted', 42, False, ['python', 'postgres', 'java'], 'new item inserted']

In [36]:
'9- remove first occurance of the element'
myl.remove("new item inserted")
print(myl)

['Ahmed', 'iti', 42, False, ['python', 'postgres', 'java'], 'new item inserted']

In [38]:
'10- add two lists, return new list contains the elements of the 2 lists together '
l1 = [2,4,5,6]
l2 = ["a","b", "c"]
l3 = l1 + l2
print(l3)

[2, 4, 5, 6, 'a', 'b', 'c']

In [40]:
'11- extend list  ---> change l1'
l1 = [2,4,5,6]
l2 = ["a","b", "c","Ayman"]
l1.extend(l2)  # change l1 not return new list
print(l1, l2)

[2, 4, 5, 6, 'a', 'b', 'c', 'Ayman'] ['a', 'b', 'c', 'Ayman']

In [44]:
'12- sort a list --> sort the same list---> sort list requires that the list items should be from the same type'
alphas = ["b", "z", "d", "m", "c", "a", "n"]
alphas.sort(reverse=True)
print(alphas)

['z', 'n', 'm', 'd', 'c', 'b', 'a']

In [45]:
'12- reverse a list --> '
alphas = ["b", "z", "d", "m", "c", "a", "n"]
alphas.reverse()
print(alphas)

['n', 'a', 'c', 'm', 'd', 'z', 'b']

In [47]:
'13- check if the list contains certain value '
names = ["Ayman", "Ahmed", "Omar", "Mostafa", "Asmaa", "Salma", "Nora", "Doaa","Mai", "Aya"]
print("Omar" in names)

False

In [48]:
'14- loop over the names '
for name in names:
    print(f"name = {name}")

name = Ayman
name = Ahmed
name = Omar
name = Mostafa
name = Asmaa
name = Salma
name = Nora
name = Doaa
name = Mai
name = Aya

In [49]:
"15- min and max"
ll= [4,55,67,666,99999,99]
print(min(ll))
print(max(ll))

4
99999

In [52]:
"16- empty list is falsy value"
x = []
if x:
    print("hi")
else:
    print('bye')

bye